<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="img/weather.png" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    {{>header}}
    <div class="main-content">
        Created by Oke Kehinde with the use of mapbox.com and darksky.net api
        <img class='about-img' src='img/oke.jpg'>
        <p>{{name}}</p>
    </div>
    {{>footer}}

</body>

</html>