<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="img/weather.png" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img class='about-img' src='img/oke.jpg'>

        <div class="short-sum">
            <h3>About Me</h3>
            <p>
                I'm Oke Kehinde and you can simply call me Kenny. Over the past few
                years I have taken a deep dive into internet, Internet marketing and the
                World Wide Web Ecosystem.
            </p>
            <p>
                From an Engineering Background, I have found myself in web development
                with a focus in front end, backend and anything in-between.
            </p>
        </div>
        <hr class="cus-hr" />
        <div class="interest">
            <h3>Interest</h3>
            <ul>
                <li>computing</li>
                <li>Technology</li>
                <li>Web Dev.</li>
                <li>Productivity</li>
                <li>Digital marketing</li>
                <li>Arduino Tech</li>
                <li>3D Printing</li>
            </ul>
        </div>
        <hr class="cus-hr" />
        <div class="interest hobbies">
            <h3>Hobbies</h3>
            <ul>
                <li>DIY</li>
                <li>Teaching</li>
                <li>Research</li>
            </ul>
        </div>
    </div>
    {{>footer}}

</body>

</html>