<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" href="img/weather.png" />
    <link rel="stylesheet" href="css/style.css" />
    <script type='text/javasrcript' src='utilapp.js'></script>


</head>

<body>
    {{>header}}
    <div class="main-content">
        <h3>{{title}}</h3>
        <p>Use this site to get your weather forcast</p>
        <form>
            <input placeholder="Input Location" id='cityInput'>
            <button>SEARCH</button>
            {{func}}
        </form>


        <div class='error-msg'> </div>
        <div class="browser-loc"></div>
        <div class="data-bg">

            <div class="spinner loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

            <div class="weather-resp">

                <div class="data-rt">
                    <div class='res-location'></div>
                    <div class="class-hold">
                        <span class="w-temp-sum"></span>
                        <span class="w-head-sum">

                        </span>
                        <div class="headings-sum">
                            <span class="app-temp"></span>
                            <span class="temp-low"></span>
                            <span class="temp-high"></span>
                        </div>
                    </div>
                </div>
                <div class="data-summary"></div>

            </div>


            <p>Click the button to get your coordinates.</p>

            <button onclick="getLocation()">Try It</button>

            <p id="demo"></p>
        </div>

    </div>



    {{>footer}}

    <script src="./js/app.js"></script>
    <script src='../partials/clientapp.js'></script>

</body>

</html>