h1,
h2 {
  color: orange;
}

.about-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem auto;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  margin-top: 0.7rem;
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  padding: 3px 0;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  border: 1px solid #888;
  cursor: pointer;
  background: #888;
  color: white;
  padding: 8px;
}

button:target,
button:hover {
  opacity: 0.7;
}

.data-return {
  margin-top: 2rem;
  color: #333;
  line-height: 1.3rem;
}

.data-location {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.data-location,
.data-summary {
  line-height: 1.5rem;
}

.data-bg {
  margin: 2rem auto;
  position: relative;
  padding: 0.5rem 1rem;
}

.summary {
  display: block;
}

.w-temp-sum,
.w-head-sum {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.75;
}

.headings-sum {
  margin-top: 1rem;
}

.res-location {
  font-weight: 600;
  margin-bottom: 1rem;
}

.data-summary {
  display: none;
  margin-top: 1.2rem;
  padding: 1rem;
  display: inline-block;
}

.data-summary-dec {
  background: whitesmoke;
  border-left: 2px solid orange;
}

.weather-resp {
  display: none;
}

/****
Error
*****/

.error-msg {
  margin-top: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
  opacity: 0.8;
}
.show {
  display: block;
}

.hide {
  display: none;
}
.error-msg-bd {
  margin-left: 0.4rem;
  font-weight: 600;
  opacity: 0.8;
}

.close-x {
  border-radius: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 7px solid #f56b00;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #fff 45%,
      #fff 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      #f56b00 0%,
      #f56b00 43%,
      #fff 45%,
      #fff 55%,
      #f56b00 57%,
      #f56b00 100%
    );
}

/**************
About Me Section
***************/

.interest {
  max-width: 60rem;
  margin: 2rem auto;
}

.interest ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.interest li {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  border: 1px solid red;
  padding: 0.5rem;
  margin: 0.3rem 0.5rem;
  border-radius: 20px;
  color: #333;
}

.interest li:hover {
  color: #ccc;
  background: #333;
  cursor: pointer;
  border-color: rgb(63, 59, 59);
}

.hobbies li {
  border: 1px solid green;
}

/***************
Loading Animation
****************/
.loading {
  display: none;
}
.show {
  display: block;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: orangered;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
